   /* Based on https://fabiensanglard.net/ */
   @font-face {
       font-family: 'myfontfamily';
       src: url('/fonts/DejaVu/DejaVuSansMono.ttf');
       font-display: block;
   }

   @font-face {
       font-family: 'myfontfamily';
       src: url('/fonts/DejaVu/DejaVuSansMono-Bold.ttf');
       font-weight: bold;
       font-display: block;
   }

   @font-face {
       font-family: 'mySignatureFontFamily';
       src: url('fonts/Tomatoes/Tomatoes-O8L8.ttf');
       font-display: block;
   }

   html {
       font-family: myfontfamily, monospace;
       /* non-instantaneous scrolling when following link to section elsewhere on page.
        Based on https://stackoverflow.com/a/24739173
        ToDo - (re)move this, as currently not in use??? */
       overflow-wrap: break-word;
       /* in case of single long words, e.g. URLs, wider than screen width */
       scroll-behavior: smooth;
   }

   #signatureText {
       font-family: mySignatureFontFamily;
   }

   h1 {
       background-color: blue;
       color: white;
       text-align: center;
   }

   td, th {
       border: 1px solid black;
   }

   td {
       padding: .3em;
       text-align: justify;
   }

   table {
       border-collapse: collapse;
   }

   /* Conceptually, each text paragraph - also the first - should be wrapped in <p> and </p>.
   This is what Marked.js (which is used by projects.html) does.
   However: some browsers (including my Edge browser) interprets <p>s as newline - also for the first paragraph (which I DON'T want).
   Therefore this style below (suggested by ChatGPT) is applied to ANY <p> which is the first child of its parent element,
   i.e. nothing (not even whitespace or freetext) comes before it */
   p:first-child {
       margin-top: 0;
   }