/* This file contains styles for (DIV) classes defined in displayProjectCards.js
- that file also contains other style attributes, which I believe make more sense to keep there... */

.markdown-content {
    max-width: 100%;
    display: none;
    border-left-style: solid;
    border-color: lightgray;
    padding: 15px;
}

/* Styling for toggle buttons used by showProjectCard() */
/* adding "max-height: 999999px;" style to button element, as per suggestion from chatGPT to fix problem I'm seeing specifically in Chrome for Android
also, without forcing "text-align: left" here (as should be the default), many browsers use "justify" instead (which I dislike) */
.ProjectButton {
    width: 100%;
    text-align: left;
    max-height: 999999px;
    background: lightgrays;
    border: none;
    cursor: pointer;

    /* Make button label, i.e. project titles, selectable (for copying, translation etc.) */
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}